/* Custom tooltip styling */
.tooltip {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.group:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

#editFieldModal {
  display: none; 
}

input[type="file"] {
  display: block;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  width: 100%;
  background-color: #fff;
}
input[type="file"]::-webkit-file-upload-button {
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #2563eb;
}
